[submodule "lib/common"]
	path = lib/common
	url = git@github.com:CSE-498-011-SP21/common.git
[submodule "lib/network-layer"]
	path = lib/network-layer
	url = git@github.com:CSE-498-011-SP21/network-layer.git
