[submodule "common"]
	path = common
	url = https://github.com/CSE-498-011-SP21/common.git
[submodule "network-layer"]
	path = network-layer
	url = https://github.com/CSE-498-011-SP21/network-layer.git
